.dropdown {
  position: relative;
  font-family: Arial, sans-serif;
  width: 200px;
  z-index: 10001;
  display: flex;
  align-items: center;

  .dropdownHeader {
    background: linear-gradient(135deg, #7a7a7a, #4d4d4d);

    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: 1px solid black;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
  }

  .dropdownOptions {
    position: absolute;
    margin-top: 17rem;
    background-color: #f2f2f2;
    width: 60%;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    z-index: 10000;
    display: flex;
    flex-direction: column;

    .dropdownOption {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #d9d9d9;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
    }
  }
}
