.card {
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

  .word {
    button {
      background: none;
      border: 1px solid black;
      padding: 1rem;
      font-size: 2rem;
      cursor: pointer;
      font-weight: bold;
    }
  }

  .sentence {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      background: none;
      border: 1px solid black;
      cursor: pointer;
      padding: 1rem;
      font-size: 1rem;
    }
  }

  .level {
    width: 100%;
    text-align: end;
    padding-right: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
