.card {
  border: 2px solid #ccc;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  border-radius: 10px;

  .word {
    button {
      background: none;
      border: 1px solid #ccc;
      padding: 1rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }

  .sentence {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      background: none;
      border: 1px solid red;
      cursor: pointer;
      padding: 1rem;
      font-size: 1rem;
    }
  }
}
