.main {
  position: relative;
  h1 {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
